@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  background: #171920;
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  text-align: center;
}

.header {
  margin-top: 15vh;
  height: 20vh;
}

h1 {
  font-weight: 600;
  font-size: 32pt;
  color: #2362ee;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 20pt;
  color: white;
  text-align: center;
}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  background-image: linear-gradient(
    to right bottom,
    #e37bf7,
    #ce71f6,
    #b668f5,
    #9b60f5,
    #7b59f4
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-over {
  background: #7b59f4;
  font-size: 24pt;
  font-weight: 600;
  color: white;
  padding-top: 70px;
  height: 130px;
  transition: all 0.2s ease-out;
}

#game-over {
  font-size: 24pt;
  font-weight: 600;
  color: white;
  margin-bottom: -120px;
  margin-top: 120px;
}

#dino {
  height: 50px;
  width: 50px;
  background-image: url(img/dino.svg);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 0px) rotate(0deg);
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;
  background-image: url(img/cactus.svg);
  background-size: 20px 40px;
}

.cactus-move {
  animation: block 1s infinite linear;
}

.cactus-move-paused {
  animation-play-state: paused;
}

@keyframes block {
  0% {
    left: 620px;
  }

  100% {
    left: -40px;
  }
}

button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    90deg,
    rgba(131, 59, 250, 1) 0%,
    rgba(66, 55, 243, 1) 100%
  );
  padding: 15px 40px;
  border-radius: 40px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin-top: 40px;
  border: none;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(55, 79, 243, 0.4);
}
